.about{
    background-color: var(--bg-color);
    box-shadow: 0 0 10px var(--letter-shadow);
    
    background-image: url("../assets/signatureOp.png");
    background-repeat: no-repeat;
    padding: 35px 100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 550px;
    height: 550px;
    gap: 6px;
}

.about__title{
    font-size: 32px;
    text-shadow: 3px 3px 3px var(--letter-shadow);
}

.about__signature{
    transform: scale(0.6);
    padding: 35px 100px;
}

.download{
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
    
    .about{
        grid-template-columns: 1fr;
        padding: 10px 20px;
    }
    .about__title{
        font-size: 22px;
    }
    .about__container{
        width: 260px;
        height: 1095px;
    }
    .about__container p{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-left: -5px;
    }
    .about__signature{
        display: none;
    }
}
