.experience{
    background-color: var(--bg-color-2);
    padding: 5px 0;
}
.experience__section__title{
    display: inline-block;
    text-shadow: 3px 3px 3px var(--letter-shadow);
    font-size: 32px;
}

.experience__section__subtitle{
    
    font-size: 29px;
    margin: 20px 20px;
}

.experience__games, .experience__app{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
.experiencie__box{
    padding: 1rem;
}
.experience__title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.experience__text{
    display: flex;
    align-items: center;
    text-align: center;
    
    justify-content: center;
    margin: 5px 30px;    
    color: var(--letter-color-2);
}

.experience__img{
    width: 80%;
    height: 350px;
    background-position: bottom;
    background-size: cover;
    box-shadow: 0 0 20px var(--letter-shadow);
    border-radius: 10px;
    margin: 2rem 1rem 2rem 3rem;
    padding: auto;
}

#app-0{
    background-image: url('../assets/experience/carrera-1.jpg');
}

#app-0:hover{
    background-image: var(--img-bg-purple);
    animation: change-img-0 18s infinite linear;
}

@keyframes change-img-0 {
    0%{background-image: var(--img-bg-purple)}
    3%{background-image: url('../assets/experience/carrera-2.jpg')}
    13%{background-image: url('../assets/experience/carrera-2.jpg')}
    21%{background-image: var(--img-bg-purple)}
    24%{background-image: url('../assets/experience/carrera-3.jpg')}
    34%{background-image: url('../assets/experience/carrera-3.jpg')}
    46%{background-image: var(--img-bg-purple)}
    49%{background-image: url('../assets/experience/carrera-4.jpg')}
    59%{background-image: url('../assets/experience/carrera-4.jpg')}
    71%{background-image: var(--img-bg-purple)}
    74%{background-image: url('../assets/experience/carrera-5.jpg')}
    84%{background-image: url('../assets/experience/carrera-5.jpg')}
    87%{background-image: var(--img-bg-purple)}
    90%{background-image: url('../assets/experience/carrera-1.jpg')}
    100%{background-image: url('../assets/experience/carrera-1.jpg')}
}

#app-1{
    background-image: url('../assets/experience/ahorcado-3.jpg');
}

#app-1:hover{
    background-image: var(--img-bg-purple);
    animation: change-img-1 18s infinite linear;
}

@keyframes change-img-1 {
    0%{background-image: var(--img-bg-purple)}
    3%{background-image: url('../assets/experience/ahorcado-1.jpg')}
    13%{background-image: url('../assets/experience/ahorcado-1.jpg')}
    18%{background-image: var(--img-bg-purple)}
    21%{background-image: url('../assets/experience/ahorcado-2.jpg')}
    31%{background-image: url('../assets/experience/ahorcado-2.jpg')}
    36%{background-image: var(--img-bg-purple)}
    39%{background-image: url('../assets/experience/ahorcado-2.1.jpg')}
    49%{background-image: url('../assets/experience/ahorcado-2.1.jpg')}
    54%{background-image: var(--img-bg-purple)}
    57%{background-image: url('../assets/experience/ahorcado-3.jpg')}
    67%{background-image: url('../assets/experience/ahorcado-3.jpg')}
    72%{background-image: var(--img-bg-purple)}
    75%{background-image: url('../assets/experience/ahorcado-3.1.jpg')}
    85%{background-image: url('../assets/experience/ahorcado-3.1.jpg')}
    90%{background-image: var(--img-bg-purple)}
    93%{background-image: url('../assets/experience/ahorcado-5.jpg')}
    100%{background-image: url('../assets/experience/ahorcado-5.jpg')}
}


#app-4{
    background-image: url('../assets/experience/encriptador-1.jpg');
}

#app-4:hover{
    animation: change-img-4 5s infinite linear;
}

@keyframes change-img-4 {
    0%{background-image: var(--img-bg-purple)}
    5%{background-image: url('../assets/experience/encriptador-2.jpg')}
    49%{background-image: url('../assets/experience/encriptador-2.jpg')}
    54%{background-image: var(--img-bg-purple)}
    57%{background-image: url('../assets/experience/encriptador-1.jpg')}
    100%{background-image: url('../assets/experience/encriptador-1.jpg')}
}

#app-6{
    background-image: url('../assets/experience/p1.jpg');
}

#app-6:hover{
    background-image: var(--img-bg-purple);
    animation: change-img-6 18s infinite linear;
}

@keyframes change-img-6 {
    0%{background-image: var(--img-bg-purple)}
    3%{background-image: url('../assets/experience/p2.jpg')}
    13%{background-image: url('../assets/experience/p2.jpg')}
    18%{background-image: var(--img-bg-purple)}
    21%{background-image: url('../assets/experience/p3.jpg')}
    31%{background-image: url('../assets/experience/p3.jpg')}
    36%{background-image: var(--img-bg-purple)}
    39%{background-image: url('../assets/experience/p4.jpg')}
    49%{background-image: url('../assets/experience/p4.jpg')}
    54%{background-image: var(--img-bg-purple)}
    57%{background-image: url('../assets/experience/p5.jpg')}
    67%{background-image: url('../assets/experience/p5.jpg')}
    72%{background-image: var(--img-bg-purple)}
    75%{background-image: url('../assets/experience/p6.jpg')}
    85%{background-image: url('../assets/experience/p6.jpg')}
    90%{background-image: var(--img-bg-purple)}
    93%{background-image: url('../assets/experience/p7.jpg')}
    100%{background-image: url('../assets/experience/p7.jpg')}
}

#app-7{
    background-image: url('../assets/experience/dym-1.jpg');
}

#app-7:hover{
    background-image: var(--img-bg-purple);
    animation: change-img-7 10s infinite linear;
}

@keyframes change-img-7 {
    0%{background-image: var(--img-bg-purple)}
    3%{background-image: url('../assets/experience/dym-2.jpg')}
    13%{background-image: url('../assets/experience/dym-2.jpg')}
    46%{background-image: var(--img-bg-purple)}
    49%{background-image: url('../assets/experience/dym-3.jpg')}
    59%{background-image: url('../assets/experience/dym-3.jpg')}
    87%{background-image: var(--img-bg-purple)}
    90%{background-image: url('../assets/experience/dym-4.jpg')}
    100%{background-image: url('../assets/experience/dym-4.jpg')}
}

.experience__repo, .experience__demo{
    text-align: center;
}

.experience__repo{
    background: var(--color-de-fondo);
    border: 1px solid var(--four-color);
    color: var(--fifh-color);  
    
}
.experience__repo:hover{
    background: #b0c4de;
    border: 1px solid var(--four-color);
    transform: scale(1.1);
    color: #FFFFFF;
}

.experience__demo{
    background: var(--third-color);
    border: none;
    color: var(--fifh-color);
}
.experience__demo:hover{
    background-color: var(--four-color);
    transform: scale(1.1);
    color: black;
}

.experience__video {
    margin: 2rem 1rem 2rem 3rem;
    padding: 1rem; 
}
.experience__video iframe{
    box-shadow: 0 0 20px var(--letter-shadow);
}

/*Mobile*/
@media screen and (max-width: 600px) {
    .experience__games, .experience__app{
        grid-template-columns: 1fr;
    }
    .experience_container{
        margin: 0 0.5rem;
    }
    .experiencie__box {
        padding: 0.5rem 0;
    }
    .experience__section__title{
        
        font-size: 22px;
    }
    .experience__section__subtitle{
        margin: 10px 0;
        font-size: 19px;
    }

    .experience__title{
        
        font-size: 18px;
    }

    .experience__text{   
        margin: 0;
        width: 300px;
    }

    .experience__img{
        width: 300px;
        height: 220px;
        margin: 0.5rem 0;
    }
    
    .experience__video {
        margin: 0;
        padding: 0.5rem; 
    }
    .experience__video iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:relative;
    }
}