.formcontato{
    background-color: var(--bg-color);
    padding: 5px 0;
}

.formcontato__title{
    display: inline-block;
    text-shadow: 3px 3px 3px var(--letter-shadow);
    font-size: 32px;
}

.formcontato__subtext{
    
    font-size: 29px;
    margin: 20px 20px;
    text-align: center;
}

.formcontato__form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 25px;
}

.formcontato__label{
    width: 100%;
    max-width: 750px;
    margin-bottom: 25px;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--letter-shadow);
}

.formcontato__input{
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    margin: 5px 0;
}

.formcontato__error-message{
    font-size: .9rem;
}


/*Mobile*/
@media screen and (max-width: 600px) {

    .formcontato__contacto{
        margin: 0 0.5rem;
    }

    .formcontato__title{
        
        font-size: 22px;
    }
    .formcontato__subtext{
        margin: 10px 0;
        font-size: 19px;
    }


    .formcontato__input{
        width: 90%;
    }
}