.menu{
    box-shadow: 0 0 10px var(--letter-shadow);
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    align-items: center;
    align-content: flex-end;
    display: block;
    height: 10vh;
    justify-content: space-between;
    
}
.menu__container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 5rem;
}

.menu__header, .menu__nav, .menu__list, .menu__theme, .menu__burguer{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu__header{
    width: 100vw;
    margin: 0 50px;
}
.menu__header h3{
    font-size: 1.5rem;
    margin: 5px 0 5px 0;
}

.menu__list__item{
    
    margin-right: 40px;
    font-weight: 500;
    text-transform: uppercase;
    width: max-content;
}

.menu__list__item:hover{
    text-decoration: underline;
    transform:scale(1.1);
}
.menu__list li:nth-child(7){
    font-weight: 800;
}

.menu__icon-burguer, .menu__icon-x{
    font-size: 2rem;
    color: var(--color-de-link) !important;
    z-index: 100;
}

.menu__burguer{
    display: none;
}

/*Mobile*/
@media (max-width: 1200px) {
    .menu{
        justify-content: space-around;
               
    }
    .menu__header{
        font-size: 10px;
        font-weight: 400; 
        margin: 5px 5px 5px 0;
    }
    

    .menu__container{
        justify-content: space-around;
        margin:0;
    }

    .menu__nav{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 80vw;
        height: 105vh;
        background: linear-gradient(22.5deg, var(--fourth-color) 0%, var(--second-color) 100%);
        transform: translateX(100%);
        transition: .2s;
    }
    
    .nav-active{
        transform: translateX(0%);
        box-shadow: 0 0 20px var(--third-color);
    }
    .menu__list{
        margin: 50px;
        flex-flow: column;
    }
    .menu__list__item{
        font-size: 20px;
        margin: 10px;
    
    }
    .menu__burguer{
        display: flex;
    }

    .menu_hidden{
        display: none;
    }

}