
/*Mobile*/
@media screen and (max-width: 600px) {
    h1{
        font-size: 2.5rem;
        font-weight: 600;
    }
    h2{
        font-size: 1.5rem;
        margin: 5px 0 5px 0;
    }
    h3{
        font-size: 1.1rem;
        margin: 5px 0 5px 0;
    }
    h4{
        font-size: 1rem;
        font-weight: 500;
        margin: 5px 0 5px 0;
    }
 
    .divider{
        width: 75%;
        margin: 15px 0 30px 0;
    }
    
   
   /*Hobbies*/
    .hobbies{
        margin: 32px 5px;
        width: 300px;
    }
    .hobbies h3{
        font-size: 22px;
    }
    .hobbies__box{
        height: 100px;
        margin-left: -10px;
        padding: 6px;
        width: 90px; 
    }

    /*Formación Académica*/
    .academic{
        background-color: #EAF2FD; 
        padding: 32px 0px;   
    }
    .academic__courses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 15px;
    }
    .academic h2{
        font-size: 22px;
        text-align: center;
        width: 300px;
        
    }
    .academic__courses__box{
        margin: 0 0.5rem;
        width: 18rem;
    }
    .academic__courses__box ul{
        margin: 4px;
        padding: 0px;
    }
    .academic__courses__box ul li{
        margin:  0.5px;
        padding: 0;
    }

    .academic__courses__item__img{
        height: 110px;
        padding: 8%;
        width: 220px;
    }
    #imagen-acad{
        height: 90px;
        width: 140px;
    }
    #imagen-acad2{
        height: 70px;
        width: 100px;
    }
    .academic__courses__item__title{
        font-size: 16px; 
        font-weight: 700;
    }
    .academic__courses__item__subtitle{
        font-size: 14px;
        font-weight: 500;
    }

    /*Experiencia Profesional*/
    .experience{
        padding: 64px 0;
    }
    .experience h2{
        font-size: 22px;
        width: 300px;
    }
    .experience__section__title{
        text-shadow: 5px 5px 5px #464646; 
    }
    .experience__section__subtitle{
        padding: 5px 5px; 
    }
    .experiencie__box{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        padding: 32px 15px; 
        width: 260px; 
    }
    .experience__box{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        padding: 32px 5px;
        width: 260px;
    }
    .experience__img{
        border-radius: 12px; 
        display: flex;
        width: 100%;   
    }
    .experience__video{
        width: 100vw;   
         
    }
    .experiencia__botao--repo{
        background: #F5F5F5;
        border: 1px solid var(--third-color);
        color: var(--third-color);  
        padding: 16px;   
        border-radius: 12px;
    }
    .experiencia__botao--repo:hover{
        background: #b0c4de;
        border: 1px solid var(--third-color);
        color: #FFFFFF;
    }
    .experience__botao--demo{
        background: var(--third-color);
        border: none;
        color: #FFFFFF;
        padding: 16px;
        border-radius: 12px;
    }
    .experience__botao--demo:hover{
        background-color: var(--second-color);
        color: black;
    }
    .experience__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0.5;   
    }
    .experience__info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0.5;  
        
    }
    .experience__info h2{
        font-size: 16px;
        text-align: start;
        color: #464646;
    
    font-weight: 700;
    line-height: 26px;
    margin: 5px 0;
        
    }
    .experience__info h3{
        color: #464646;
    font-weight: 500;
    line-height: 19px;
    margin: 10px 0;
        font-size: 14px;
    }
    .experience__info-container h2{
        font-size: 16px;
        text-align: start;
        width: 250px;
        color: #464646;
    font-weight: 700;
    line-height: 26px;
    }
    .experience__info-container h3{
        color: #464646;
    font-weight: 500;
    line-height: 19px;
        font-size: 14px;
    }
    .experiencia__botao--repo{
        padding: 10px;   
    
    }
    .experience__botao--demo{
        padding: 10px;
    }

     /*Contacto*/
    .formcontacto__contacto{
        display: flex;
        padding: 32px 15px;
    }
    .formcontacto__img{
        display: none;
    }
    .formcontacto__text{
        display: flex;
        flex-direction: column;   
    }
    .formcontacto__text h2{
        font-size: 22px;
        margin-left: -10px;
        width: 250px;
    }
    .formcontacto__text h3{
        width: 250px;
        text-align: justify;
        margin-left: -10px;
    }
    .formcontacto__input{
        height: 56px;
        margin: 20px -10px;
        width: 250px;  
    }
    .formcontacto__textarea{ 
        height: 80px;
        margin: 20px -10px;
        width: 250px;
    }
    .formcontacto__boton{
        font-size: 14px;
        margin: 20px -10px;
        padding: 12px;
        width: 140px;
    }

    
}